footer {
  bottom: 0;
  position: fixed;
}

img {
  max-width: 100%;
}

.carrocel-container {
  overflow: auto;
}

.carrocel-container > div {
  display: flex;
  overflow: auto;
  width: 100%;
}

.carrocel-container img {
  transform: scale(0.95);
  width: 180px;
}

.card-class img {
  max-width: 340px;
}
