footer {
  background-color: #fe4d68;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

/* header {
  align-items: center;
  background: #fe4d68;
  display: flex;
  justify-content: space-around;
} */

.img-favorites {
  max-width: 100%;
}

.carrocel-container {
  overflow: auto;
}

.carrocel-container > div {
  display: flex;
  overflow: auto;
  width: 100%;
}

.carrocel-container img {
  transform: scale(0.95);
  width: 180px;
}

.card-class {
  animation: test 1s forwards;
  background-color: #fe4d68;
  border: none;
  border-radius: 30px 10px 0;
  box-shadow: 0 0 4px #fe4d68d4;
  max-width: 180px;
  overflow: hidden;
  padding: 0;
  transform: scale(0.95);
}

.card-class img {
  width: 100%;
}

@keyframes test {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
